﻿@model FizzBuzz.Web.Models.Model
@{
    ViewBag.Title = "FizzBuzzTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Search", "FizzBuzz", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <h4>FizzBuzz Test</h4>
    <hr />
    @Html.ValidationMessageFor(m => m.Number, "", new { @class = "error" })

    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn-default" value="Submit" />
        </div>
    </div>
}




@Html.Partial("_Details")

